/* @font-face {
  font-family: "Fredoka-Regular";
  src: url("../fonts/Fredoka-Regular.ttf") format("truetype");
} */

* {
  /* font-family: "Fredoka-Regular"; */
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

li {
  list-style: none;
}

canvas {
  background-color: white;
}

.game {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.screen {
  width: 100%;
  height: 100%;
  display: none;
}

.screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.screen-body {
  color: white;
  display: flex;
  flex-direction: column;
}

.screen-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
